.header2{
    background: #689b92;
    height: 70px;
    padding-top: 8px;
}
.container2 h1{
    text-align: center;
}
.title2{
    font-weight: bold;
}
.list1 ul li{
    padding-left: 40px;
    display: inline;
    float: left;
    position: relative;
}
.list1 ul:hover{
    transition: 0.5s;
    background: #4f7570;
}
.one:hover{
    transition: 0.5s;
    background: #4f7570;
}
.list1{
    margin-top: -55px;
}
a{
    text-decoration: none;
    color: white;
}
.first2 a{
    border: none;
    font-size: 1.5vw;
}





.dropbtn {
    background-color: #689b92;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    float: right;
    margin-top: -17px;
    position: relative;
    display: inline-block;
}

.dropdown button {
    font-size: 1.5vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(70, 65, 58);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    transition: 0.5s;
    background-color: #4f7570;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    transition: 0.5s;
    background-color: #4f7570;
}

